.carrusel  {
    display:flex;
}

img {
    border-radius: 40px;
}

.caja{
    background:#fedfaa;
}

.caja1{
    background:	#fffad2;
}

.caja2{
    background:#ffd5cc;
}

.caja3{
    background:	#e1f2ea;
}


.imagen {
    display:flex;
    /* padding-left: 200px; */
    width:300px;
    height:600px;
}
.android {
    display:flex;
    padding-left: 200px;
    width:900px;
    height: 700px;
}
.tex {
    display:flex;
}
.texto {
    display:flex;
    justify-content:flex-end;
    margin-left: 190px;
    width:400px;
    height: 350px;
    margin-top: -350px;
}
.textos {
    display:flex;
    justify-content:flex-end;
    color:#767671;
    font-size: 40px;
    font-family:Helvetica;
    margin-top:-20px;
}

.texto1 {
    display:flex;
    justify-content:flex-end;
    margin-left: 200px;
    width:300px;
    height: 200px;
    margin-top:-330px;
}


.texto2 {
    display:flex;
    justify-content:flex-end;
    margin-left: 200px;
    width:400px;
    height: 200px;
    margin-top:-440px;
}


prueba {
    background: #f1abd6
}