/* Inicia Estilos Heli  */
*{
    font-family: 'Poppins', sans-serif;
}  

header {
    background: #fedfaa;
}

.navbar-brand,.nav-item {
    color: black;
}
.navbar-brand:hover,.nav-item:hover {
    color: grey;
}

.navbar-toggler-icon{
    color: black;
}
.queEs {
    display: flex;
    text-align: center;
    background: #ffd5cc;
    align-content: center;
    padding: 40px;
}

.iphoneMiel {
    width: 400px;
}

h1 {
    margin: 30px;
}

h5 {
    margin:30px;
}    

.contador{
    display: flex;
}
.abejitas {
    width: 60px;
    height: 60px;
    flex-direction: row;

}
.contador {
    width: 100%;
}
.beetext {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.form-group {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding-top: 50px;
    background: #fffad2;
}

h4{
    text-align: center;
    margin-left: 10px;
}

form {
    background: #fffad2;
}

.form-check {
    padding: 0px;
    margin-left: 50px;
    /* border: solid black 1px; */
}

.form-check-input {
    margin: 0px;
    /* border: solid red 1px; */
}

.form-check-label{
    margin: 15px;
    margin-top: 0px;
    /* border: solid blue 1px; */
}
.btn-primary{
    margin-left: 50px;
    background: #c5e8d6;
    border-color: #c5e8d6;
    color: black;
    font-weight: bold;
} 
.btn-primary1{
    background: #c5e8d6;
    border-color: #c5e8d6;
    color: black;
    font-weight: bold;
    margin-top: 10px;
} 
.form-text{
    margin-left: 50px;
}

footer{
    background: #fedfaa;;
    text-align: right;
    color: black;
    padding: 10px;
}
/* Termina estilos Heli */


/* inicia Estilos del directorio (nando) */
.fondo{
 background-image: url("fondomiel.jpeg");
 background-position: center;
}

.btn-group{
 width: 100%;
 display: flex;
 justify-content: center;
 margin-top: 1%;
}

.boton{
 background: rgb(235, 235, 102);
 color: black;
}

.dropdown-menu{
 background: rgb(235, 235, 102);
}

.opcion1{
 background: green;
}

.opcion2{
 background: red;
}

.opcion3{
 background:yellow;
}

.opcion4{
 background: blue;
}

.opcion5{
 background:purple;
}

.opcion6{
 background: grey;
}

.opcion7{
 background: pink;
}

.opcion8{
 background: white;
}


.contenedor1{
 width: 100%;
 margin: 2% 0% 2% 0%;
 display: flex;
 justify-content: center;
 justify-content: space-around;
 flex-wrap: wrap; /* Para cuando no quepa algo, se baje. */
}

.tarjetas{
 width: 30%;
 overflow: hidden; /* oculta las esquinitas de las imagenes que se salgan */
 border-radius: 30px;   
 margin-top: 2%;
}
 
.tarjeta1{
 background: green;
 display: none;
}

.tarjeta2{
 background: red;
 display: none;
}

.tarjeta3{
 background:yellow;
 display: none;
}

.tarjeta4{
 background: blue;
 display: none;
}

.tarjeta5{
 background:purple;
 display: none;
}
   
.tarjeta6{
 background:grey;
 display: none;
}
   
.tarjeta7{
 background:pink;
 display: none;
}
   
.tarjeta8{
 background:white;
 display: none;
}

.contenedor2{
 width: 100%;
 margin: 2% 0% 2% 0%;
 display: flex;
 justify-content: center;
 justify-content: space-around;
 flex-wrap: wrap;
}

@media only screen  and (max-width: 576px){
    .tarjetas{
     width: 100%;
     margin-top: 10%;
    }  
}

@media only screen  and (max-width: 577px) and (max-width: 768px){
    .tarjetas{
     width: 50%;
     margin-top: 10%;
    }  
}

@media only screen  and (max-width: 768px) and (max-width: 992px){
    .tarjetas{
     width: 50%;
     margin-top: 10%;
    }  
}

@media only screen  and (max-width: 993px) and (max-width: 1200px){
    .tarjetas{
     width: 50%;
     margin-top: 10%;
    }  
}

/* Finaliza Estilos del directorio (nando) */